//colors
$darkBlue: #0b4f65;
$blue: #118ab2;
$turquoise: #06d6a0;
$pink: #ff7373;
$gray: hsl(0, 0%, 98%);

//font sizes
$mainTitle: 5rem; //h1
$title: 1.75rem; //h2
$subtitle: 1.125rem; //h3
$bodyCopy: 1rem; //body

//padding
$sidePadding: 0 14rem 0 14rem;
