@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
.arrow_animation {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 700;
  color: #0b4f65;
}

h2 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
  color: #0b4f65;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #0b4f65;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #0b4f65;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border: none;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  width: 100%;
  height: 8vh;
  padding: 0 14rem 0 14rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  height: 3.125rem;
  width: 3.125rem;
}

.header_mobile_menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #0b4f65;
}

.header_mobile_menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header_links a {
  color: #0b4f65;
}

.header_links a:not(:last-child) {
  margin-right: 20px;
}

.header_links a:hover {
  font-weight: 600;
}

.hero {
  position: relative;
  padding: 0 14rem 0 14rem;
  height: 93vh;
}

.hero_container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_container h1 {
  font-size: 8rem;
}

.hero_container h2 {
  font-size: 4rem;
}

.hero_container h2 > span {
  color: #ff7373;
}

.hero_container p {
  font-size: 1.5rem;
}

.hero_container img {
  height: 800px;
  width: 400px;
}

.hero_arrow {
  position: absolute;
  display: block;
  left: 50%;
  top: 90%;
  height: 50px;
  width: 50px;
}

.aboutme {
  width: 100%;
  background-color: #0b4f65;
  color: white;
  padding: 3rem 14rem 3rem 14rem;
}

.aboutme_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  gap: 10em;
}

.aboutme_container h2 {
  color: white;
}

.aboutme_container .skills {
  font-weight: 600;
  background-color: #ff7373;
  padding: 0.5em;
  margin: 0.5em;
}

.aboutme_container p {
  color: white;
}

.projects {
  padding: 0 20rem 0 20rem;
}

.projects img {
  height: 250px;
  width: 250px;
}

.projects h2 {
  text-align: center;
  margin: 4rem;
}

.projects h3 {
  color: #0b4f65;
}

.projects p {
  margin-bottom: 3rem;
}

.projects .projects_container {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: 50% 50%;
      grid-template: repeat(3, 1fr)/50% 50%;
  row-gap: 4rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.projects .projects_container .project_button {
  height: 40px;
  width: 200px;
  margin: 5px;
  background-color: #118ab2;
  border-radius: 4px;
}

.projects .projects_container .project_button a {
  color: white;
}

.projects .projects_container .project_button:hover {
  opacity: 0.8;
}

.contact {
  padding: 0 14rem 0 14rem;
  background-color: #0b4f65;
}

.contact h2,
.contact p {
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.contact_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */